body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#LotBlock {
    display: none;
}
#FullBlock{
    display: flex;
    flex-grow: initial;
}
#tableBlock1 {
    width:auto;
}
#tableBlock2 {
    width:auto;
}
#loginBlock {
    float:right;
} 
